h1 {
   text-align: center;
   color: white;
   background-color: black;
   font-size: x-large;
}

button {
   color: black;
   background-color: rgb(228, 171, 106);
   width: 100px;
   height: 50px;
   text-align: center;
}

div,
ol,
ul {
   color: cornflowerblue;
   background-color: cornsilk;
   font-weight: bold;
}
